<h1>Peaks Test</h1>

<div id="peaksContainer"></div>
<audio id="waveformAudio" controls="controls">
  <source src="tdrs_hour_3.mp3" type="audio/mpeg">
</audio>
<button id="zoomIn">Zoom In</button>
<button id="zoomOut">Zoom Out</button>